img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
  }
.container{
    height: 250px;
    width: 250px;
    background: url("spl.jpg") no-repeat;
    opacity: 0.6;
    margin-left: 200px;
    margin-top: 200px;
}